.scroll-stack-scroller {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: visible;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: scroll-position;
}

.scroll-stack-inner {
    padding: 10vh 5rem 40rem;
    min-height: 100vh;
}

.scroll-stack-card-wrapper {
    position: relative;
}

.scroll-stack-card {
    transform-origin: top center;
    will-change: transform;
    backface-visibility: hidden;
    box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.15),
        0 10px 60px rgba(0, 0, 0, 0.2),
        0 2px 4px rgba(0, 0, 0, 0.08);
    height: 75vh;
    width: 100%;
    margin: 30px 0;
    border-radius: 40px;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
}

.scroll-stack-end {
    width: 100%;
    height: 1px;
}